body {
  background-color: #191919;
  padding: 40px;
}
.heading {
  text-align: center;
  color: white;
  font-size: 75px;
  padding: 0 0 20px;
  margin: 0 0 20px;
}

.container {
  margin: 30px;
  padding: 30px;
  display: grid;

  grid-template-columns: 50% 50%;
  grid-gap: 20px;
}

.container h2 {
  text-align: center;
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.container {
  padding: 40px;
  margin: 30px;
  border-radius: 30px;
}
.container:hover {
  transform: translateY(-5px);
}
.contain-1 {
  background-color: #ff7f11;
}
.contain-1:hover {
  background-color: #101010;
  color: #ff7f11;
  border: #ff7f11 2px solid;
}

.container-2 {
  background-color: #ff7f11;
}
.container-2:hover {
  background-color: #101010;
  color: #ff7f11;
  border: #ff7f11 2px solid;
}
.container-3 {
  background-color: #ff7f11;
}
.container-3:hover {
  background-color: #101010;
  color: #ff7f11;
  border: #ff7f11 2px solid;
}

.container dt {
  font-size: 23px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}
.container dd {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  margin-left: 50px;
  margin-bottom: 5px;
}
