<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expenses</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
  
    <div id="app">
      <!-- Replace hw3-starter below with your repo name (hw3-yourusername) so you can save!  -->
      <ma-data
        v-model="expenses"
        src="https://github.com/designftw/hw5-yonas39/expenses/data.json"
      ></ma-data>

      <!-- App UI here -->
      <!-- Delete this line when you write your actual UI -->
      <!-- {{ expenses.length }} expenses loaded. -->

      <header>
        <span v-if="expenses.user">
          Logged in as {{ expenses.user.username }}
          <button @click="expenses.logout()">Log out</button>
        </span>
        <button v-else @click="expenses.login()">Log in</button>
      </header>
      <h1>Expense Tracker</h1>
      <div class="container">

        <!-- ######## Left Column ########### -->

        <div class="column middle">
          <p class="column_header">Enter Your Expenses Here:</p>

          <grid>
            <form class="expense-form">
              <div class="expense_labels">
                <label for="payer" class="label_titles" >Payer:</label> <br />
                <select name="payer" v-model="expenses.payer">
                  <option value="neo">Neo</option>
                  <option value="trinity">Trinity</option>
                  <!-- <option value="joint">Joint</option> -->
                </select>
              </div>

              <div class="expense_labels">
                <label for="payee" class="label_titles" >Payee:</label> <br />
                <select name="payee" id="payee" v-model="expenses.payee">
                  <option value="trinity">Trinity</option>
                  <option value="neo">Neo</option>
                  <option value="joint">Joint</option>

                </select>
              </div>

              <div class="expense_labels">
                <label for="amount" class="label_titles" >Amount:</label> <br />
                <input
                  type="text"
                  name="amount"
                  placeholder="$100"
                  id="amount"
                  v-model="new_amount"
                />
              </div>

              <div class="expense_labels">
                <label class="label_titles">Date</label> 
                <input type="date" v-model="new_date" />
              </div>

              <div class="expense_labels">
                <label class="label_titles">Description</label>
                <input type="text" name="Detail " v-model="newtitle"/>
              </div>
            </form>
          </grid>
          <div>
            <button type="submit" class="btn" @click="AddExpense" @click="reset">
              Add Expense
            </button>
            <a href="index.html"><button>clear</button></a>
            <p > <strong>
              Neo </strong> ows <strong>Trinity</strong>: {{total_balance}}</p>
          </div>
        </div>

        <!-- ######## RIGHT Column ########### -->

        <div id="app" class="column right">
          <p class="column_header">Currency Converter</p>
          <div>
            <div>
              <span class="currecy_menu_text">Amount:</span>
              <input
                type="number"
                v-model.number="amount"
                placeholder="Enter Amount"
                class="conversion_inputs"
              />
            </div>
            <div>
              <span class="currecy_menu_text">From:</span>
              <select v-model="convertfrom">
                <option
                  v-for="(currency,index) in currencyfrom"
                  v-bind:value="currency.name"
                >
                  {{currency.desc}}
                </option>
              </select>
            </div>
            <div>

              <span class="currecy_menu_text">To:</span>
              
              <select v-model="convertto">
                <option
                  v-for="(currency,index) in currencyfrom"
                  v-bind:value="currency.name"
                >
                  {{currency.desc}}
                </option>
              </select>
            </div>
          </div>
          <div>
            <!-- {{amount}} {{convertfrom}} equals {{finalamount}} {{convertto}} -->
            Converted Value:
            <strong>{{finalamount}}-</strong>{{convertto}}
          </div>
        </div>
      </div>

     
      <!-- <div> {{expenses}}</div> -->
      <div>
        <!-- <p>The Json file practice</p> -->
        <div >
    
          <table >
              <thead>
                  <tr>
                      <th colspan="6">The Json file practice</th>

                  </tr>
                  <tr>
                    <th>Title</th>
                    <th>Trinity paid</th>
                    <th>Trinity for Neo</th>
                    <th>Neo paid</th>
                    <th>Neo forTrinity </th>
                    <th>Paid for</th>
                    <th>Date</th>
                  </tr>
              </thead>
              <tbody v-for="exp in expenses">
                  <tr>
                    
                      <td>{{exp.title}}</td>
                      <td>{{exp.trinity_paid}}</td>
                      <td>{{exp.trinity_paid_for_neo}}</td>
                      <td>{{exp.neo_paid}}</td>
                      <td>{{exp.neo_paid_for_trinity}}</td>
                      <td>{{exp.payee}}</td>
                      <td>{{exp.date}}</td>
                  </tr>
              </tbody>
          </table>
    
      </div>
    </div>
    <script src="index.js" type="module"></script>
  </body>
</html>
