/* add some css to make writeup prettier */
* {
  line-height: 1.75;
  background-color: #fffeee;
  /* margin: 0, 2em;
  padding: 1rem 1rem 1rem 0; */
}
h1 {
  background-color: bisque;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

article h2 {
  color: #191919;
  text-decoration: underline;
  padding: 10px 3.5rem;
  margin: 10px 3.5rem;
}
article p {
  text-indent: 50px;
  font-size: 22px;
  margin: 0 100px 15px;
  padding: 0 20px;
}
ul li {
  font-size: 22px;
  padding: 0 20px 10px;
  margin: 0 150px 10px;
}

footer {
  padding: 30px;
  margin: 20px;
}
